<div class="well sidebar-nav">
  <h4>My courses</h4>
  <ul>
    {{#courses}}
      <li>
        {{name}}
        <a href='/courses/{{id}}/track_it' title="Stop tracking" class='untrack-it' data-method='delete' data-remote='true'><i class='icon-remove'></i></a>
      </li>
    {{/courses}}
    {{^courses}}
      <i>You list is empty</i>
    {{/courses}}    
  </ul>
</div>