<div class="well sidebar-nav">
  <h4>My courses</h4>
  <ul>
    {{#track_its}}
      <li>
        <a href='/courses/{{course_id}}/'>{{course.name}}</a>
        <a href='/courses/{{course_id}}/track_its/{{id}}' title="Stop tracking" class='untrack-it' data-method='delete' data-remote='true'><i class='icon-remove'></i></a>
      </li>
    {{/track_its}}
    {{^track_its}}
      <i>You list is empty</i>
    {{/track_its}}    
  </ul>
</div>