<ul>
  {{#start_dates}}
    <li>
      {{start_on}}
      {{#pending?}}
        <span class='publish-status label label-default'>pending</span>
      {{/pending?}}
    </li>
  {{/start_dates}}
  {{^start_dates}}
    <i>No dates</i>
  {{/start_dates}}
</ul>