<% if object.errors.any? %>
  <% object.errors.full_messages.each do |msg| %>
    <div class="alert fade in alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
<% end %>