<div class="start-dates-list-widget" id="start-dates-list-widget" data-course-id="<%= @course.id %>">
  
  <div class="header">
    <a data-toggle="collapse" href="#start-dates-list-collapse">
      <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
      <h5>Start Dates</h5>
    </a>
  </div>
  
  <div id="start-dates-list-collapse" class="body collapse in">
    <fieldset>
      <% if @course.start_by_schedule %>
        <%= render (user_signed_in? && current_user.admin? ? "admin/courses/start_dates_list" : "courses/start_dates_list"), :mustache => {course_id: @course.id, start_dates: @course.start_dates.accessible_by(current_ability).to_a} %> 
      <% else %>
        <span class="label label-success">Always open</label>
      <% end %>
    </fieldset>

    <% if can?(:create, StartDate)  && @course.start_by_schedule %>
      <div class="footer">
        <input id="datepicker">
        <%= link_to "+ Add", "#", class: "add-date btn btn-mini" %>
      </div>
    <% end %>
  </div>
</div>