<div class="page-header">
  <h1><%= controller.controller_name.capitalize %></h1>
</div>

<div id="alert-area"></div>

<table id="courses-list" class="display table table-striped" data-source="<%= courses_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>

</table>

<%= link_to 'New', new_course_path, :class => 'btn btn-primary' if can?(:create, Course) %>
